.container{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.folder-icon{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.file-icon{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.add-folder-icon, .add-file-icon{
    display: none;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-left: 20px;
}
.add-file-icon{
    margin-left: 10px;
}
.main:hover .add-folder-icon,.main:hover .add-file-icon{
    display: inline-block;
} 

